.p-container{
    background: rgb(0, 0, 0);
    opacity:0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px; 
    position: relative;
    border-radius: 20px;      
}

.titulo{
    margin-top: -30px;
    font-size: 30px;
    color: white; 
}


.btn{
    border: 1px solid var(--primary);
    padding: 8px 20px;    
    margin-top: 40px;
    font-size: 20px;
    border-radius: 5px;
}

.btn:hover{
    background-color: transparent;
    color: #ffffff;
    transition: all 0.3s ease-out;
    border: 1px solid var(--primary);
}

.combo{
    margin-top: 60px;
    max-width: 450px;
    position: relative;
    border-radius: 5px;
    bottom: 20px;
    font-size: 20px;
}

.input:hover {
    border: 2px ;
    border-radius: 5px;
    border-bottom: 3px solid #fff  ;
}

.p-container input{
    width: 60%;
    height: 30px;
    background: none;
    color:#fff;
    border-radius: 4px;
    margin: 10px; 
    font-size: 20px;
}


@media screen and (max-width: 64em) {
    .p-container {
        width: 300px;
      }

      .titulo{
          font-size: 20px;
      }

      .btn{
          width: 120px;
      }

     
    }
    